input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #222;
  margin: 5px 0;
  padding-left: 20px;
  color: #fff;
  padding-right: 20px;
  cursor: pointer;
}

button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #222;
  cursor: pointer;
  color: #fff;
}

button:hover {
  background-color: #333;
}