@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #000000;
	position: relative;
}



@font-face {
	font-family: "Akira Expanded";
	src: url("/fonts/akira/AkiraExpanded.otf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Akira";
	src: url("/fonts/akira/Akira.otf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

.page-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/* height will be set by JS */
	mix-blend-mode: overlay;
	background: #0303c061;
	pointer-events: none;
	z-index: 100;
}